@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

@layer components {
  .cart {
    position: absolute;
    top: 4em;
    right: 0;
    width: 400px;
    height: 600px;
    background-color: #282c34;
    @apply p-2 rounded;
  }

  .bulle {
    border-radius: 25% 25% 25% 0;
    min-width: 230px;
  }
}
